html{
    background:#0073e6;
    border-radius:20px;
    color:rgb(0,0,0);
    min-height: 100%;
}
body{
    min-height:98vh;
    margin: 0 !important;
	padding: 0 !important;
}

/* ELEMENTS OF STATUS BAR */
#status{
    position:absolute;
    z-index:2;
    left:10px;
    top:10px;
    padding:5px;
    background:#fff;
    box-shadow:2px 2px 5px #000;
    transition-duration:.5s;
}

#clock{
    height:20px;
    font-size:20px;
    text-align:center;
    font-weight:bold;
    transition-duration:.5s;
}
#date{
    height:20px;
    font-size:15px;
    text-align:center;
    opacity:0;
    transition-delay:.5s;
    transition-duration:.25s;
    font-family: 'Open Sans', sans-serif;
}
#alert{
    position:absolute;
    bottom:20px;
    width:0px;
    text-align:center;
    opacity:0;
    font-family: 'Open Sans', sans-serif;
}





/* FOR DEVICES IN LANDSCAPE MODE */
@media (min-aspect-ratio: 1/1) {
    html {
        font-family: 'Arial';
    }
    #status{
        width:80px;
        height:20px;
        font-size:20px;
        border-radius:16px;
    }
    #status:hover{
        width:460px;
        height:90vh;
        padding:20px;
    }
    #status:hover >#clock{
        font-size:40px;
    }
    #status:hover >#date{
        color:rgb(46, 46, 45);
        margin-top:20px;
        opacity:1;
    }
    #status:hover >#alert{
        opacity:1;
        width:460px;
    }
}

/* FOR DEVICES IN PORTRAIT MODE */
@media (max-aspect-ratio: 1/1) {
    #status{
        width:150px;
        height:70px;
        font-size:20px;
        border-radius:70px;
        z-index:2;
    }
    #clock{
        height:70px;
        font-size:50px;
        padding:5px 0;
    }
    #alert{
        width:100%;
    }
    #status:hover{
        width:97%;
        height:50vh;
        border-radius: 30px;
    }
    #status:hover >#clock{
        font-size:80px;
    }
    #status:hover >#date{
        color:rgb(46, 46, 45);
        margin-top:20px;
        opacity:1;
    }
    #status:hover >#alert{
        opacity:1;
        width:460px;
    }

}